{{!< default}}
<header class="blog-header">
	<div class="inner">
		<div class="box blog-box">
			<h1 class="blog-name">
			    {{#if @site.logo}}
				<img class="site-logo" src="{{img_url @site.logo size="xs"}}" alt="{{@site.title}}" />
			    {{else}}
				{{@site.title}}
			    {{/if}}
			</h1>
			{{#if @site.description}}
			<span class="blog-description">{{@site.description}}</span>
			{{/if}}
		</div>
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
